<!DOCTYPE html>
<html lang='en' ng-app='APP'>
<head>
	<title>Customer Filters</title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap-css/css/bootstrap.css"/>
</head>
<body>

	<div class="container" ng-controller="theController">
		<!--input type="text" ng-model="search.fname"-->
		<table class="table table-striped table-bordered">
			<thead>
				<td>id</td>
				<td>first</td>
				<td>last</td>
				<!--td>city</td-->
				<!--td>sales</td-->
				<td>bonus</td>
				<td>total</td>
			</thead>
			<tbody>
				<!--tr ng-repeat="user in users | orderBy:['fname','lname']"-->
				<!-- add negative mark before fname will sort the other way around; sort by one field doens't need []-->
				<!--tr ng-repeat="user in users | filter:search"-->
				<tr ng-repeat="user in users | orderBy:Total">
					<!--td>{{user.id | currency}}</td>
					<td>{{user.fname | uppercase}}</td>
					<td>{{user.lname | lowercase}}</td>
					<td>{{user.city}}</td-->
					<td>{{user.id}}</td>
					<td>{{user.fname + ' '+user.lname | initials}}</td>
					<!--td>{{user.lname}}</td-->
					<td>{{user.sales | currency}}</td>
					<td>{{user.bonus | currency}}</td>
					<td>{{user.sales+user.bonus | currency}}</td>
				</tr>
			</tbody>
		</table>
		
	</div>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script>
		angular.module('APP',[]).
		controller('theController',['$scope','$http',function($scope,$http){
			$http.jsonp('http://www.filltext.com/?rows=30&id={index}&fname={firstName}&lname={lastName}&sales={randomNumber|2000}&bonus={randomNumber|600}&callback=JSON_CALLBACK').success(function(data){
				$scope.users = data
			});

			$scope.totalMoney = function(user){
				return user.sales + user.bonus;
			}
		}]).
		filter('initials',function(){
		return function(text){
			var names = text.split(' ')
			var holder = [];
			angular.forEach(names,function(item){
				holder.push(item.substring(0,1)+'.')
			});
			console.log(holder)
			return holder.join('')
		}
			
		})
	</script>
</body>
</html>